nits on refs

In doing a read over and clicking all the linky links I noticed


RFC 5077 is now  RFC 8446

RFC 7235 is now RFC 9110


Thank you for catching these -- your PR was merged. we appreciate you doing the editorial leg work.